[build]
  base = "frontend/"
  command = "npm run build"
  publish = "build"

[build.environment]
  REACT_APP_API_URL = "https://excel-analytics-website-6e84.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  REACT_APP_API_URL = "https://excel-analytics-website-6e84.onrender.com"
