services:
  - type: web
    name: excel-analytics-backend
    env: node
    repo: https://github.com/vaishu/excel-analytics-website.git
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    healthCheckPath: /api/health
